.Row {
  padding: 20px;

  h3 {
    margin: 0 0 1rem;
    font-family: "bebas";
    letter-spacing: 1.5px;
    font-size: 1.5rem;
  }

  &-items {
    width: 100%;

    .swiper-slide {
      padding: 20px 0;
      cursor: pointer;

      &.active {
        transition: 450ms;
      }

      &:first-child:hover {
        margin: 0 0 0 20px;
      }

      &:last-child:hover {
        margin: 0 0 0 -20px;
      }
    }

    img {
      position: relative;
      max-width: 100%;
      height: auto;
      transition: 450ms;
      z-index: 10;
      object-fit: contain;

      &:hover {
        scale: 1.1;
        z-index: 20;
      }
    }
  }
}
