%btn {
  padding: 0.5rem 2rem;
  font-family: "roboto";
  color: #fff;
  text-transform: capitalize;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-dark {
  @extend %btn;
  background-color: #00000065;
  font-size: 1.1rem;

  &:hover {
    background-color: #000000a1;
  }
}

.btn-auth {
  @extend %btn;
  padding: 7px 17px;
  background-color: #e50914;
  font-size: 1rem;
}
