.Hero {
  position: relative;
  padding: 2rem;
  min-height: 80vh;

  align-items: flex-start !important;

  background-position: top !important;
  background-size: cover !important;
  overflow: hidden;

  &-heading {
    font-size: 2.5rem;
    font-family: 'roboto-bold';
    text-transform: capitalize;
    letter-spacing: 1.15px;
    background-color: rgba(0, 0, 0, 0.459);
    padding: .5rem;
    border-radius: 4px;
  }

  &-buttons {
    margin: 1rem 0;
    gap: 1rem;
  }

  &-description {
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.459);
    margin: .5rem 0;
    padding: .5rem;
    border-radius: 4px;
  }

  &-blur {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 15%;
    background: rgb(4,0,36);
    background: linear-gradient(360deg, rgba(4,0,36,1) 18%, rgba(9,9,121,0) 100%);
  }
}

@media (max-width: 1024px) {
  .Hero {

    &-heading {
      font-size: 1.5rem;
    }
  }
}