.Header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  width: 100%;
  padding: 1rem 2rem;
  background: rgb(4,0,36);
  background: linear-gradient(180deg, rgba(4,0,36,1) 0%, rgba(9,9,121,0) 100%);
  transition: .3s;

  &.landing {
    position: absolute;
    background: transparent;
  }

  &.active {
    background-color: black;
  }

  &-wrapper {
    justify-content: space-between !important;

    &.landing {

      @media (max-width: 480px) {
        flex-wrap: wrap;
        justify-content: center !important;
        gap: 15px;
      }
    }
  }

  &-logo {
    max-width: 92px;

    &.landing {
      max-width: 167px;
    }

    img {
      max-width: 100%;
    }
  }

  &-nav {
    margin-left: 40px;
    text-transform: capitalize;
    color: #ffffffb0;

    li {
      margin-left: 20px;

      &:hover {
        color: #fff;
      }

      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  &-user {
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;
    

    &:hover > .user-details {
      opacity: 1;
      pointer-events: all;
    }

    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }

    .user-details {
      position: absolute;
      top: calc(100% + 4px);
      right: 0;
      z-index: 10000;
      // padding: 1rem 0rem;
      width: 200px;
      background-color: black;
      pointer-events: none;
      opacity: 0;
      cursor: initial;
      transition: 450ms;

      li {
        width: 100%;
        cursor: pointer;
        // margin-top: .5rem;
        padding: 1rem 0;
        transition: 350ms;

        &:first-of-type {
          margin-top: 0;
        }

        &:hover {
          background-color: #4d4d4d;
        }
      }
      
      &.active {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  .btn-wrapper {

  }
}

.Sign-in {
  .Header {
    .btn-auth {
      display: none;
    }
  }
}