.Header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  padding: 2rem;
  background-color: transparent;
  transition: .3s;

  &.active {
    background-color: black;
  }

  &-logo {
    width: 150px;

    img {
      max-width: 100%;
    }
  }
}