
.auth-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px 68px 40px;
  background-color: #000;
  z-index: 100;

  h3 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    text-transform: capitalize;
  }

  %user-msg {
    display: block;
    padding: 1rem .5rem;
    font-family: 'roboto-bold';
    border-radius: 4px;
  }

  .auth-error {
    @extend %user-msg;
    background-color: #e50914;
  }

  .auth-success {
    @extend %user-msg;
    background-color: rgb(45, 94, 45);
  }

  .input-wrapper {
    margin: 10px 0;
    align-items: flex-start !important;
    gap: 10px;

    label {
      text-transform: capitalize;
    }

    input {
      width: 100%;
      padding: .5rem;
      border: none;
      border-radius: 4px;
      font-size: 1.125rem;
      outline: none;
      
      // &:focus {
      //   border-bottom: 2px solid blue;
      //   margin-bottom: -2px;
      // }
    }

    ::placeholder {
      text-transform: capitalize;
    }
  }

  &-btn-wrapper.loading {
    pointer-events: none;
  }

  .btn-auth {
    width: 314px;
    max-width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    font-family: "roboto-bold";
  }

  .change-auth-component {
    margin: 1rem 0 0;

    a {
      text-decoration: underline;
    }
  }
}
